@import "fonts";

:root{
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --primary-color: #AE7AFF;
}

*
*::before
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: 'JetBrains Mono';
}

.skill-tag{
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid var(--light-color);
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    font-family: 'JetBrains Mono Semi Bold';
    height: 24px;
}

.btn{
    border: none;
    background-color: var(--primary-color);
    color: var(--dark-color);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: 'JetBrains Mono Semi Bold';
}

.h6{
    font-size: 18px;
    line-height: 24px;
    font-family: 'JetBrains Mono Bold';
}

.subtitle{
    font-size: 12px;
    line-height: 21px;
    font-family: 'JetBrains Mono Thin';
}